/* In your CSS file */
#map {
  width: 100%; /* Set the width to 100% of the parent container */
  height: 600px; /* Set a fixed or appropriate height for your map */
  position:relative; 
  display: flex;/* Ensure it has a position set */
  border: 1px solid #000; /* Add a border for visibility, you can remove this in production */
}
/* Add this CSS to your component's CSS file, e.g., karnataka-map-app.component.css */

/* Style for the district tooltips */
/* Tooltip style with transparent background */
.leaflet-tooltip.district-tooltip {
  background-color: transparent !important; /* Set the background color to transparent */
  border: none !important; /* Remove the border */
  box-shadow: none !important; /* Remove the box shadow */
  font-size: 14px; /* Font size */
  font-weight: bold; /* Font weight */
  white-space: nowrap; /* Prevent line breaks */
}
/* Add styles for the custom-tooltip class */



/* Define styles for the popup card */
.popup-card {
  
  position: absolute;
  width: 300px; /* Adjust the width as needed */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both vertically and horizontally */
  z-index: 100;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a box shadow for the card effect */
  padding: 20px;
}

/* Style the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
 
}
.close-button:hover {
  background-color: #ddd;
}

/* Style the table inside the popup card */
.custom-table {
  width: 100%;
}

/* Style the table header (thead) */
.custom-table thead {
  background-color: purple;
  color: white; /* Text color for header cells */
}

/* Style the table body (tbody) */
.custom-table tbody {
  background-color: lightgrey;
}

.district-project-count {
  /* Ensure that the element doesn't interfere with map interaction */
}
/* Define a keyframes animation for bouncing */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Start and end positions */
  }
  40% {
    transform: translateY(-10px); /* Bounce up */
  }
  60% {
    transform: translateY(-5px); /* Bounce down */
  }
}

/* Apply the bounce animation to .district-tooltip */
/* Tooltip styles */
/* .custom-tooltip {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
 
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 14px;
  font-weight: bold;
} */

/* Show the tooltip on hover */
/* .custom-tooltip.active {
  opacity: 1;
} */

