<div id="map" style="height: 700px; width: 700px;z-index:10;" (click)="showTable()">
</div>

<!-- Popup card for the table -->
<div *ngIf="showMapTableFlag" class="popup-card">
  <button class="close-button" (click)="closeTable()">X</button>
  <table class="custom-table">
    <!-- Table content goes here -->
    <thead>
      <tr>
        <th>District:</th>
        <th>Projects:</th>
        <th>ProjectTitle</th>
        <th>Physical-Progress</th>
        <th>Financial-Progress</th>
        <th>Project-Tender-Amount</th>
        <th>ProjectRelease-Amount</th>
        <th>Paid-to-contractor</th>
        <th>contractor-Amount-Balance</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{selectedDistrict}}</td>
        <td>{{projCount}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="custom-tooltip" *ngIf="showToolTip">
  <strong>District: </strong>{{ hoveredDistrict }}
  <br>
  <strong>Projects: </strong>{{ hoveredProjectCount }}
</div>